<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>This is login page</h1>
<div th:if="${error}">User not found</div>
<div th:if="${pass}">Invalid password</div>
<form th:action="@{login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Name">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="submit" value="Log In!">
    </div>
</form>
</body>
</html>
